<h2>Listing bookings by taxis</h2>

<table class="table">
  <thead>
    <tr>
      <th>Taxi</th>
      <th>Booking requests</th>
    </tr>
  </thead>
  <tbody>
<%= for {taxi, requests} <- @tuples do %>
    <tr>
      <td><%= taxi %></td>
      <td><%= requests %></td>
    </tr>
<% end %>
  </tbody>
</table>